.alive {
	background: rgb(43,49,72);
  }
  
  .new-born {
	background: rgb(48,168,232);
  }
  
  table {
	margin: 1px 0;
	border: solid rgb(195,138,143);
  }
  td {
	border: 1px solid rgb(195,138,143);
	height: 1em;
	width: 1em;
  }
  
  td:hover:not(.alive):not(.new-born){
	background: rgb(195,138,143);
  }